# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1


commands:

  do_venv_setup:
    description: "Setup venv for testing"
    steps:
      - run:
          name: setup venv
          command: |
            python -m pip install -U wheel pip
            python -m pip install -r requirements.txt


  do_test_execution:
    description: "Execute unit tests via unittest"
    steps:
      - run:
          name: run tests
          command: |
            python -m unittest discover

  test_steps_python:
    description: "Python test steps"
    steps:
      - checkout

      - run:
          name: checkout vivtest files repo
          command: |
            git clone https://github.com/vivisect/vivtestfiles.git $VIVTESTFILES

      - run:
          name: install deps
          command: |
            sudo apt-get update
            sudo apt-get -qq install libfreetype6-dev liblcms2-dev libqt5gui5 python-pip python-qt4 python-pyqt5 python-pyqt5.qtwebkit ghostscript libffi-dev libjpeg-turbo-progs cmake imagemagick

      - do_venv_setup

      - do_test_execution

jobs:

  python27:
    parallelism: 1
    docker:
      - image: cimg/base:2020.01
        environment:
          VIVTESTFILES: /tmp/vivtestfiles
          PYVERS: 2.7

    working_directory: ~/repo

    steps:
      - test_steps_python

workflows:
  version: 2
  run_tests:
    jobs:

      - python27:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/

#  weekly:
#    triggers:
#      - schedule:
#          cron: "0 12 1 * *"
#          filters:
#            branches:
#              only:
#                - master
#    jobs:
#      - python27
